body{
  font-famaliy: arial, helvetica;
  background: #abdefa;
}

.menu{
  list-styles: none;
  padding: 0;
  background: #409dc4;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.menu li a{
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}

.menu li{
  display- inline-block;
}
